# Importing libraries

In [10]:
import pandas as pd

# Google Colab Keyboard Shortcuts

For the entire list of Keyboard shortcuts, go to `Tools --> Keyboard Shortcuts` 
or type `Ctrl + M + H`

Running a cell:
1. **Click "Run"**
2. **Shift + Enter** (*Runs the current cell and adds a new cell if there is no cell below the current cell*)
3. **Ctrl + Enter** (*Runs the current cell, but does not add any cells below*)
4. **Alt + Enter** (*Runs the current cell and adds a new cell irrespective of any scenario*)

Cell Operations:
1. Add a cell below the current cell --> Ctrl + M + B
2. Add a cell above the current cell --> Ctrl + M + A
3. Delete the current cell --> Ctrl + M + D
4. Move selected cell(s) up --> Ctrl + M + K
4. Move selected cell(s) down --> Ctrl + M + J
5. Undo Cell operation --> Ctrl + M + Z

# Data Sctructures

## Lists

A list is identified by any element(s) surrounded by 2 square brackets [ ] \\

In [1]:
my_list = [1, 2, "a", True, 20021.1]

Looking at a list from left to right, the position numbers (indexes) are absolutely fixed. Count starting from 0 and upto length of list.

In [2]:
my_list[0]  # Accessing the 1st element of the list

1

In [3]:
my_list[2]  # Accessing the 3rd element of the list

'a'

## Dictionary

A dictionary is identified by any element(s) surrounded by 2 curly braces (brackets) { } \\
Each element in a dictionary will always be in the form of a key-value pair

In [4]:
my_dict = {"key1": 1, "Number": 2, "strKey": "a", "boolKey": True, "floaKey": 20021.1}

There is no need to count any position number for the index in dictionaries. \\
Just enter the key as index and you will obtain the corresponding value. \\
PS: Every key has to be unique

In [5]:
my_dict["key1"]

1

In [6]:
my_dict["boolKey"]

True

In [7]:
my_dict["strKey"]

'a'

Protip: Use a list when you do not want to associate your elements with a specific key. The fixed position is suitable. \\
For eg, a list of players \\
["Sunil Chhetri", "Gurpreet Singh Sandhu", "Manvir Singh"]

Use a dictionary when you want pairs of values to be stored. For eg, list of players and current clubs \\
{"Sunil Chhetri": "BFC", "Gurpreet Singh Sandhu": "BFC", "Manvir Singh": "ATKMB"}

## DataFrame

Converts dictionary or 2-D lists to a dataframe (DataFrame is a 2-dimensional labeled data structure with columns of potentially different types)

<b> Parameters: </b>

- data: a 2-D list or dictionary which needs to be converted into dataframe
- index: index to be used for resulting frame
- columns: column labels to use for resulting frame

In [11]:
df = [[11, 12, 33], [44, 55, 66], [77, 88, 99]]
df = pd.DataFrame(df, index=['Row1', 'Row2', 'Row3'], columns=['Col1', 'Col2', 'Col3'])

In [ ]:
df

      Col1  Col2  Col3
Row1    11    12    33
Row2    44    55    66
Row3    77    88    99

# pandas cheatsheet

## read_csv

Read a comma-separated values (csv) file into DataFrame.<br><br>
<b> Parameter:</b>
- filepath_or_buffer: Address of the file to be accessed (can be a URL or local address

### Using Jupyter Notebook/Local Python System
<b> Parameter:</b>
- filepath_or_buffer: Address of the file to be accessed (can be a URL or local address

In [ ]:
file_address = "D:/Sports Analysis/Sports Analytics Course Content/Sample_CSV.csv"
df = pd.read_csv(file_address)

### Using Google Colab

In [6]:
import io
from google.colab import files

In [ ]:
uploaded = files.upload()

In [7]:
isl_df = pd.read_csv(io.BytesIO(uploaded['isl_data.csv']))

In [8]:
isl_df

               team.name  position  matches  ...  scoresFor  scoresAgainst  points
0         Mumbai City FC         1       20  ...         35             18      40
1     ATK Mohun Bagan FC         2       20  ...         28             15      40
2       Northeast United         3       20  ...         31             25      33
3                 FC Goa         4       20  ...         31             23      31
4           Hyderabad FC         5       20  ...         27             19      29
5             Jamshedpur         6       20  ...         21             22      27
6           Bengaluru FC         7       20  ...         26             28      22
7          Chennaiyin FC         8       20  ...         17             23      20
8         SC East Bengal         9       20  ...         22             33      17
9        Kerala Blasters        10       20  ...         23             36      17
10  Odisha Football Club        11       20  ...         25             44      12

[11 rows x 9 columns]

## to_csv

Save a DataFrame as a csv file

#### In Jupyter Notebook/Local Python system

<b> Parameters: </b>

- path_or_buf: address where the file is to be saved

In [ ]:
file_address = "D:/Sports Analysis/Sports Analytics Course Content/isl_standings_2021.csv"
df.to_csv(file_address)

#### In Google Colab

<b> Parameters: </b>

- path_or_buf: address where the file is to be saved

In [ ]:
isl_data.to_csv('isl_standings_2021.csv')
files.download('isl_standings_2021.csv')

NOTE: The download location here depends on your browser settings. \\
- If a default location is set, it will automatically download there.
- If "choose a location" option is set, it will open a dialog box asking you to choose a location for the download. \\
(Just like you download a software :D )

## Indexing and Slicing Dataframes - loc

used to access a group of rows and columns by label(s) or a boolean array

<b> Allowed inputs: </b>

- Index value
- list of indexes
- range of indexes
- column names

In [ ]:
print(df.loc['Row1'])

X    0
Y    1
Z    2
Name: A, dtype: int64

In [8]:
print(df.loc[['Row1', 'Row3']])

NameError: ignored

In [ ]:
print(df.loc['Row1', 'Col2'])

0

## Indexing and Slicing Dataframes - iloc

Purely integer-location based indexing for selection by position. The rows are accessed using their index position in dataframe.

<b> Allowed inputs: </b>

- Index's integer position
- list of indexes' position
- range of indexes' position

In [ ]:
print(df.iloc[0])

X    0
Y    1
Z    2
Name: A, dtype: int64

In [ ]:
print(df.iloc[[0, 2]])

   X  Y  Z
A  0  1  2
C  6  7  8

In [ ]:
print(df.iloc[0:2])

   X  Y  Z
A  0  1  2
B  3  4  5

## groupby

Group DataFrame using a column or a series of column

<b> Parameter: </b>

- by: used to determine the columns for the groupby
- axis: 0 (grouping along row), 1 (grouping along columns)

In [18]:
grp = df.groupby(["Col3"]).mean()

In [19]:
grp

      Col1  Col2
Col3
33      11    12
66      44    55
99      77    88

In [16]:
grp = df.groupby(["Col2"]).sum()

In [17]:
grp

      Col1  Col3
Col2
12      11    33
55      44    66
88      77    99

## drop

Drop specified labels from rows or columns.

<b> Parameters: </b>

- labels: Index or column labels to drop
- axis: 0 (along the rows), 1 (along the columns)

In [ ]:
new_df = df.drop("Col1", axis=1)

In [ ]:
new_df

   Y  Z
A  1  2
B  4  5
C  7  8

## to_numeric

Convert argument to a numeric type(by default int64 or float64).

**Parameters:**

- arg: The object to convert to a numeric datatype (can be str, dataframe, series)

In [20]:
df["strng"] = ["16", "5", "99"]

In [21]:
df

      Col1  Col2  Col3 strng
Row1    11    12    33    16
Row2    44    55    66     5
Row3    77    88    99    99

In [22]:
df.dtypes

Col1      int64
Col2      int64
Col3      int64
strng    object
dtype: object

In [23]:
df["strng"] = pd.to_numeric(df["strng"])

In [24]:
df

      Col1  Col2  Col3  strng
Row1    11    12    33     16
Row2    44    55    66      5
Row3    77    88    99     99

In [25]:
df.dtypes

Col1     int64
Col2     int64
Col3     int64
strng    int64
dtype: object

## sort_values

Sort the dataframe by the values along either axis.

<b> Parameters: </b>

- by: Name or list of names to sort by.
- axis: 0 (along row), 1 (along columns)
- ascending: False or 0(for descending), True or 1(for ascending)

In [29]:
sorted_df = df.sort_values(by="Col2", ascending=False)

In [30]:
sorted_df

      Col1  Col2  Col3  strng
Row3    77    88    99     99
Row2    44    55    66      5
Row1    11    12    33     16

## describe, mean, mode, median

<b> Describe: </b> Generate descriptive statistics of a dataframe/series<br>
<b> Mean: </b> Gives mean of a dataframe/columns<br>
<b> Median: </b> Gives median of a dataframe/columns<br>
<b> Mode: </b> Gives mode of a dataframe/columns

In [31]:
df.describe()

       Col1       Col2  Col3      strng
count   3.0   3.000000   3.0   3.000000
mean   44.0  51.666667  66.0  40.000000
std    33.0  38.109491  33.0  51.390661
min    11.0  12.000000  33.0   5.000000
25%    27.5  33.500000  49.5  10.500000
50%    44.0  55.000000  66.0  16.000000
75%    60.5  71.500000  82.5  57.500000
max    77.0  88.000000  99.0  99.000000

In [32]:
df.mean()

Col1     44.000000
Col2     51.666667
Col3     66.000000
strng    40.000000
dtype: float64

In [33]:
df.median()

Col1     44.0
Col2     55.0
Col3     66.0
strng    16.0
dtype: float64

In [34]:
df.mode()

   Col1  Col2  Col3  strng
0    11    12    33      5
1    44    55    66     16
2    77    88    99     99